<aside id="communications" aria-label="Communications and repositories">
    <div class="related__inner family-grouping">
        <h2 class="txt-jupiter">GitHub repositories</h2>
        <ul class="clean-list" id="github-repositories-list" role="list">
            <li><a href="https://github.com/search?q=topic%3A{{ site.cgname_lc }}cg+org%3Aw3c&type=Repositories">List of CG repositories</a></li>
        </ul>
    </div>

    <div class="related__inner family-grouping">
        <h2 class="txt-jupiter">Mailing lists</h2>
        <ul class="clean-list" role="list">
            <li>
                <strong><a href="mailto:public-{{ site.cgname_lc }}cg@w3.org">public-{{ site.cgname_lc }}cg@w3.org</a>:</strong>
                the group's primary mailing list. Group members are automatically signed up. The
                <a href="https://lists.w3.org/Archives/Public/public-{{ site.cgname_lc }}cg/">archives</a>
                are publicly visible, and anyone can post a mail.
            </li>
            <li>
                <strong><a href="mailto:internal-{{ site.cgname_lc }}cg@w3.org">internal-{{ site.cgname_lc }}cg@w3.org</a>:</strong>
                the group's member confidential mailing list. Group members are automatically signed up. The
                <a href="https://lists.w3.org/Archives/Member/internal-{{ site.cgname_lc }}cg/">archives</a>
                are visible to W3C members only, and only persons with a W3C user account can post a mail.
            </li>
        </ul>
    </div>
</aside>
