<footer class="global-footer">
    <div class="l-center">
        <div class="global-footer__links">
            <div class="l-cluster">
                <ul class="clean-list" role="list">
                    <li><a href="https://www.w3.org/">W3C Home</a></li>
                    <li><a href="https://www.w3.org/Consortium/Legal/privacy-statement">Privacy</a></li>
                    <li><a href="https://www.w3.org/Consortium/Legal/ipr-notice">IPR Terms</a></li>
                    <li><a href="https://www.w3.org/Consortium/cepc/">Code of Conduct</a></li>
                </ul>
            </div>
            <ul class="clean-list" role="list">
                <li><a href="https://github.com/w3c/{{ site.cgname_lc }}cg/">We are on GitHub</a></li>
            </ul>
        </div>
        <p class="copyright">Copyright &copy; {{ 'now' | date: '%Y' }} <a href="https://www.w3.org/">World Wide Web Consortium</a>.</p>
    </div>
</footer>
