<nav>
    <h3>Getting involved</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/Meetings/">Meetings</a></li>
        <li><a href="{{ site.baseurl }}/Meetings/Minutes/">Minutes</a></li>
        {{/*  <li><a rel="external" href="https://github.com/w3c/{{ site.cgname_lc }}cg/wiki"><abbr title="Community Group">CG</abbr> Wiki</a></li>  */}}
    </ul>

    <h3>Task forces</h3>
    <ul>
        <li><a href="{{ site.baseurl }}/TaskForces/">TaskForces</a></li>
        <li><a href="{{ site.baseurl }}/TaskForces/a11y">/a11y</a></li>
        <li><a href="{{ site.baseurl }}/TaskForces/fxl-a11y">fxl-a11y</a></li>
        <li><a href="{{ site.baseurl }}/TaskForces/documentation">documentation</a></li>
        <li><a href="{{ site.baseurl }}/TaskForces/education">education</a></li>
        <li><a href="{{ site.baseurl }}/TaskForces/vertical-writing-switching">vertical-writing-switching</a></li>
    </ul>

    <h3>Useful External Links</h3>
    <ul>
        <li><a rel="external" href="https://www.w3.org/TR/epub-33/">EPUB 3.3</a></li>
        <li><a rel="external" href="https://www.w3.org/TR/epub-rs-33/">EPUB Reading Systems 3.3</a></li>
        <li><a rel="external" href="https://www.w3.org/TR/epub-a11y-11/">EPUB Accessibility 1.1</a></li>
        <li><a rel="external" href="https://www.w3.org/publishing/epubcheck/">EPUBCheck</a></li>
        <li><a rel="external" href="https://w3c.github.io/epub-tests/">EPUB 3.3 Tests</a> and <a rel="external" href="https://w3c.github.io/epub-tests/contributing">How to write tests</a></li>
    </ul>

    <h3>Group details</h3>
    <ul>
        <li><a rel="external" href="https://www.w3.org/groups/cg/{{ site.cgname_lc }}cg/participants?sortaff=1">Participants</a></li>
        {{/*  <li><a rel="external" href="https://www.w3.org/2004/01/pp-impl/{{ site.groupid }}/status">Patent Policy Status</a></li>  */}}
        <li><a rel="external" href="https://www.w3.org/2004/01/pp-impl/{{ site.groupid }}/join">Join the Community Group</a></li>
    </ul>

    <h3>General Links</h3>
    <ul>
        <li><a rel="external" href="https://www.w3.org/Consortium/join">Joining W3C</a></li>
        <li><a rel="external" href="https://www.w3.org/Consortium/activities">W3C Activities</a></li>
        <li><a rel="external" href="http://www.w3.org/Guide/">W3C Guidebook</a></li>
        <li><a rel="external" href="https://www.w3.org/TR/patent-policy/">W3C Patent Policy</a></li>
        <li><a rel="external" href="https://www.w3.org/Consortium/Process/">W3C Process Document</a></li>
        <li><a rel="external" href="https://www.w3.org/Consortium/cepc/">Code of Conduct</a></li>
    </ul>
</nav>
