<nav aria-label="Site navigation">
    {% for section in site.data.navigation.sections %}
    <div class="related__inner{% unless forloop.first %} family-grouping{% endunless %}">
        <h2 class="txt-jupiter">{{ section.title }}</h2>
        <ul class="clean-list" role="list">
            {% for link in section.links %}
            <li>
                {% if link.external %}
                <a rel="external" href="{{ link.href }}">{{ link.title }}</a>
                {% else %}
                <a href="{{ site.baseurl }}{{ link.href }}">{{ link.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</nav>
